<h2> Sign Up </h2>
<form action="users_url" method="POST">
    <label>Username:
        <input name="user[username]" type="text">
    </label>
    <label>Password:
        <input name="user[password]" type="password">
    </label>
    <input type="submit" value="sign up">
</form>